<html>
<head>
<title>Welcome to My website</title>
</head>
<body>
<h1> Configured by Ansible Playbook </h1>
<p1>This website runs on httpd and it is configured by Ansible</p1>
<p>If you can see this, Ansible successfully installed httpd.</p>
</body>
</html>
